.ChatList__div {
	min-width: 364.8px;
	min-height: 94.4444vh;
	overflow: visible !important;

	float: left;
	background: #2d2620;

	border-radius: 39.99936px 0 0 39.99936px;
}

.ChatList__heading {
	font-family: "Semibold";
	color: white;
	font-size: 28px !important;

	padding-left: 20px;
	padding-top: 21px;
}

.ChatList__searchbar {
	width: 288.93px;
	height: 38.778836px;

	background: #1a1a1a;

	border-radius: 19.48px;

	font-family: "Light";
	font-size: 15.36px;
	color: rgba(255, 255, 255, 0.94);

	box-sizing: border-box;
	margin: 17px auto 54px auto;
	padding: 6px 25px;
}

.ChatList__card {
	height: 68.18px;
	width: 339.3px;

  display: flex;
  align-items: center;

	margin-left: 25.5008px;

	background: #2d2620 !important;
	color: white !important;
	box-shadow: none !important;
}

.ChatList__pic {
	height: 60px;
	width: 60px;

	background: #f2af4a;

	border-radius: 50%;
}

.ChatList__name {
	margin-left: 10px;

	font-family: "Semilight";
	font-size: 21px;
}

@media only screen and (max-width : 1175px) {
	.ChatList__div {
		display: none;
	}
}
