.SenderHeader__container {
  height: 77.92px;
  min-width: 795.983px;

  background: #1a1a1a;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SenderHeader__hamburger {
  width: 3rem;
  height: 3rem;

  align-self: center;
  margin: 0px;
  margin-left: 1rem;

  background: #1a1a1a;
  border: none;
  box-shadow: none;
}

.SenderHeader__hamburger_icon {
  width: 50px;
  height: 5px;

  background: white;

  display: block;
  margin-top: 8px;
}

.icon_1 {
  transform-origin: center;
  transform: rotateZ(315deg);
  margin-top: -5px;
}

.icon_2 {
  transform-origin: center;
  transform: rotateZ(45deg);
  margin-top: -5px;
}

.icon_3 {
  display: none !important;
}

.SenderHeader__senderinfo {
  font-family: "Semilight";
  color: rgba(255, 255, 255, 0.82);
  font-size: 25px;

  padding-top: 10px;
}

.SenderHeader__sendername {
  margin: 0px;
  font-size: 32px;
}

.SenderHeader__senderemail {
  margin: 0px;
  text-align: center;
  font-size: 18px;
}

.SenderHeader__pic {
  margin: 8.766px 0 8.766px 0;
  margin-right: 30px;

  height: 68.18px;
  width: 68.18px;

  background: #f2af4a;

  border-radius: 50%;
}

@media only screen and (max-width : 792px) {
  .SenderHeader__container {
    min-width: 0px;
    width: 98vw;
  }
  .SenderHeader__sendername {
    font-size:25px;
  }

  .SenderHeader__senderemail {
    font-size: 13px;
  }
}
