button.MuiButtonBase-root.SignOut__button {

  min-width: 364.8px;
  position: absolute;
  bottom: 10px;

  border-bottom-left-radius: 39.99936px !important;
  border: none !important;
  box-shadow: none !important;

  background: #2d2620;
  color: white !important;


  font-family: "Semilight";
  font-size: 26px;
}
button.MuiButtonBase-root.SignOut__button:hover {
  background: #2d2620 !important;

}
