@font-face {
  font-family: "Regular";
  src: url("../fonts/segoeui.ttf?4.7.0")format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/seguibl.ttf?4.7.0")format("truetype");
}

@font-face {
  font-family: "Semibold";
  src: url("../fonts/segoeuib.ttf?4.7.0")format("truetype");
}

@font-face {
  font-family: "Light";
  src: url("../fonts/segoeuil.ttf?4.7.0")format("truetype");
}

@font-face {
  font-family: "Semilight";
  src: url("../fonts/segoeuisl.ttf?4.7.0")format("truetype");
}
