#InputForm__form {
	width: 41.4583vw;
	height: 6.2037vh;

	position: fixed;
	bottom: 2.78vh;
}

#InputForm__formcontrol {
	width: 38.31247vw;
	height: 6.2037vh;
	margin: 0 auto !important;

	display: flex;
	flex-direction: row;

	background: #2d2620 !important;

	border-radius: 3vh;
}

.MuiInput-formControl {
	width: 80%;
	height: 5.2vh;
}

#InputForm__input {
	font-family: "Regular";
	font-size: 27px;
	padding-left: 40px;
	margin-top: 10px;
	color: rgba(255, 255, 255, 1);
}
