#InputForm__form {
	width: 33vw;
	height: 10vh;

	position: fixed;
	bottom: 20px; left: 50%;
	transform: translateX(-50%);
}

#InputForm__formcontrol {
	position: fixed;
	bottom: 0px; left: 50%;
	transform: translateX(-50%);

	height: 5vh;
	width: 50vw;
	max-width: 700px;
	background: rgba(255,255,255,1);

	display: flex;
	flex-direction: row;
}

#InputForm__label, #InputForm__input {
	width: 50vw;
	max-width: 700px;
	border: 0px !important;
}
input[type="text"]:not(.browser-default) {
	box-shadow: none !important;
}

#InputForm__button {
	width: 3vw;
}
