#MessageList__container {
	width: 41.4583vw;
	height: 86.4444vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background: #1a1a1a;
}

.MessageList__card {
	height: 6vh;

	margin: 0.2vw;
	padding: 1em 1.2em;

	align-self: flex-start;
	border-radius: 30px !important;
	border-top-left-radius: 0px !important;
}

.MessageList__card_sent {
	align-self: flex-end;
	border-top-left-radius: 30px !important;
	border-top-right-radius: 0px !important;
}
