.ChatList__div {
	width: 25vw;
	min-height: 100vh;
	float: left;
	background: #efefef;
}

.ChatList__card {
	height: 7vh;
	width: 100%;

  display: flex;
  align-items: center;
}

.ChatList__card:hover {
	background: rgba(238, 110, 115, 0.6);
}

.active {
	background: rgb(238, 110, 115) !important;
}
