#MessageList__container {
	margin-bottom: 10vh;
	width: 50vw;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	background: #eee
}

.MessageList__card {
	height: 2vh;
	width: 40vw;

	margin: 1vw;
	padding: 1em;

	align-self: flex-start;
}

.MessageList__card_sent {
	align-self: flex-end;
}
