#InputForm__form {
	width: 795.99936px;
	height: 60.424038px;

	position: fixed;
	bottom: 27.0772px;
}

#InputForm__formcontrol {
	width: 735.599424px;
	height: 60.424038px;
	margin: 0 auto !important;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: #393028 !important;

	border-radius: 29.22px;
	box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.50);
}

.MuiInput-formControl {
	width: 80%;
	height: 50.648px;
}

#InputForm__input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300 !important;
	font-size: 20px;
	padding-left: 40px;
	color: white !important;
}

#InputForm__button {
	height: 60.424038px;
	margin: 0px;
	padding: 0px;
	box-shadow: none;
}

.MuiIconButton-root {
	background: rgba(0, 0, 0, 0) !important;
	right: 9.74px; bottom: 4.87px;
}

#InputForm__sendicon {
	height: 60.424038px;
}

@media only screen and (max-width : 1175px) {
	#InputForm__input {
		font-size: 19px;
	}
}

@media only screen and (max-width : 792px) {
	#InputForm__input {
		font-size: 16px;
		height: 50px;
	}

	#InputForm__form {
		width: 98%;
		bottom: 0.5vh;
	}
	#InputForm__formcontrol {
		width: 98%;
		height: 50px;
	}
	#InputForm__input {
		margin-top: 0px;
		padding-left: 20px;
	}
	#InputForm__sendicon {
		height: 50px;
	}

}
