#MessageList__container {
	min-width: 795.983px;
	height: 86.9852vh;

	padding-top: 38.96px;
	padding-bottom: 160px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: scroll;

	background: #1a1a1a;
}

.MessageList__card {
	font-family: "Regular";
	font-size: 20px;
	background: #f2af4a !important;

	padding: 8px 30px 13px 37px;
	margin-left: 30px !important;
	margin-bottom: 10px;
	align-self: flex-start;

	max-width: 25vw;

	border-radius: 500px !important;
	border-top-left-radius: 7px !important;

	box-shadow: 4px 4px 14px 0px black;
}

.MessageList__card_sent {
	margin-right: 30px !important;
	border-top-right-radius: 7px !important;
	border-top-left-radius: 500px !important;
	align-self: flex-end;
}

@media only screen and (max-width : 1175px) {
	#MessageLsist__container {
		min-width: 0px;
		width: 98vw !important;
	}

	.MessageList__card {
		padding: 8px 20px 8px 20px;
		font-size: 18px;
	}
}

@media only screen and (max-width : 792px) {
	#MessageList__container {
		min-width: 0px;
		width: 98vw !important;
		margin: 0px;
	}
	.MessageList__card {
		font-size: 15px;
	}
}
