.Auth__card {
  width: 40vw;
  height: auto;

  margin: 0 auto;
  margin-top: 20vh;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Auth__formcontrol {
  width: 100%;
}

.Auth__label, .Auth__input {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 95%;
}

.Auth__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5% !important;

  height: 5vh;
}
